
/* --------------------------------- GLOBAL STYLING ---------------------------------*/
main {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100vw;
}

body {
  display: flex;  
  justify-content: center;
  padding: 20px;
  align-content: space-between;
  color: black;
  background-color: #151019
}

.background {   
position:absolute;
display :block; 
top:0;
left: 0;
z-index: 0;
}

button:hover{
  cursor: pointer;
}


/* --------------------------------- HEADER ---------------------------------*/
header {
  margin-bottom: 5px;
  display:flex;
  justify-content: center;
  img {
    height: 150px;
    text-align: center;
    z-index: 1;
  }
 
}

/* ---------------------------------UPLOADING BOX STYLING------------------------------------------*/
.contentBox {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  width: 520px;
  border: solid #00000047 1px;
  border-radius: 3px;
  margin: 0px 50px 0px 50px;
  box-shadow: 4px 4px 6px black;
  background-color: #b0ddfdb2;
  z-index: 1;
}


#progressDisplay {
  font-family: 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-bottom: solid black 2px;
  h1 {
    font-size: 25px;
  }
  
}

#progressbarNew>div {
  background-color: #d7e9fa;
  height: 20px;
  border-radius: 10px;
}

#progressbarNew {
  background-color: black;
  border-radius: 13px;
  padding: 3px;
  width: 300px;
  margin-bottom: 10px;
  
}
#import {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 50px 50px;
  border-bottom: solid black 2px;
  
}
#fileImg {
  margin-top: 50px;
  height: 400px;

}


// Import Button
.custom-file-input {
  color: transparent;
  width: 168px;
  border-radius: 3px;
  
  &:hover{
  box-shadow: 2px 2px black;
}
  &:-webkit-file-upload-button {
    visibility: hidden;
  }
  &:focus {
    outline: none;
    
  }
  &:before {
    content: 'Import server folder';
    color: #d7e9fa;
    display: inline-block;
    background: black;
    border: 1px solid #999;
    border-color:  #231f20;
    border-radius: 3px;
    padding: 10px 18px 5px 18px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width: 130px;
    font-weight: 700;
    font-size: 14px;
    height: 20px;
    text-align: center;
    
  }


  &:hover:before {
    border-color: black;
    color:#151019;
    background-color: white;    
  }
  &:active {
    outline: 0;
    border-radius: 3px;
    box-shadow: -1px -1px black;
    
    &:before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
    color: #1510193a;
  }
}
}

#hiddenImport {
  margin: 0 auto;
  height:40px;
}

@mixin button {
  padding: 0;
  height: 35px;
  width: 120px;
  margin: 0px 20px 0px 20px;
  background-color: black;
  color: #d7e9fa;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    border: 1px solid #777777;
    background-color: #151019a1;
    color: #d7e9fa7e;
  }
  &:enabled:hover {
    background-color: white;
    color: #151019;  
    box-shadow: 2px 2px black;
  }
  &:enabled:active {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: -1px -1px black;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}

#createButton {
  @include button;
}


/* ----------------------------------MONACO BOX STYLING------------------------------------------*/

.MonacoBox {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
  height: 746px;
  width: 600px;
  border: solid #00000047 1px;
  border-radius: 3px;
  box-shadow: 4px 4px 6px black;
  background-color: #b0ddfdb2;
  z-index: 1;
}

#tabs {
  button{
    font-size: 20px;
    padding: 10px 20px 10px 20px;   
    border-radius: 0;
    border: none;
 
  }

  button:hover{
    cursor: pointer;
    color:blanchedalmond;
    background-color: black;
  }
}

.active-tab{
  background: #1e1e1e;
  color: #d7ecfac4;
}

#createExport {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    padding-top: 1px;
    height: 25px;
    width: auto;
  }
}

#exportbtn {
  @include button;
}

.bottomBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  #fname {
    margin-bottom: 10px;
    border-width: 0px;
    padding: 2px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    margin: 2px;
    &:focus {
      outline: none;
    }
  }
}